[submodule "published/2023-Dahlbom-Quantum_to_classical_crossover"]
	path = published/2023-Dahlbom-Quantum_to_classical_crossover
	url = https://github.com/SunnySuite/2023-Dahlbom-Quantum_to_classical_crossover
