[submodule "published/2023-Dahlbom-Quantum_to_classical_crossover"]
	path = published/2023-Dahlbom-Quantum_to_classical_crossover
	url = git@github.com:ddahlbom/2023-Dahlbom-Quantum_to_classical_crossover.git
